* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1f2937;
  padding: 20px 200px;
}

.nav {
  display: flex;
  align-items: baseline;
  list-style: none;
  gap: 20px;
} 

.secondary,
a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

#header-logo {
  margin-right: auto;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 120px 0;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome .right {
  flex-shrink: 0;
  width: 50%;
}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

button {
  border-radius: 10px;
  color: white;
  background: #3882f6;
  font-size: 17px;
  padding: 7px 1em;
  width: 120px;
  font-weight: bold;
}

.button-1 {
  border: none;
}

.placeholder {
  display: flex;
  background: rgb(114, 114, 114);
  justify-content: center;
  align-items: center;
  height: 215px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  margin-bottom: 70px;
}


.information h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.container {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 170px;
  gap: 10px;
}

.square {
  border-radius: 20px;
  border: 4px solid #3882f6;
  width: 160px;
  height: 160px;
}

.container p {
  color: rgb(78, 78, 78);
  font-size: 18px;
  font-weight: 400;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 120px 280px;
}

.quote em {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.quote p {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bolder;
  color: #1f2937;
}

.action {
  background-color: #3882f6;
  border-radius: 10px;
  margin: 100px 200px;
  padding: 40px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

strong {
  font-size: 24px;
}

.action button {
  border: 2px solid white;
}

footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}